<!-- Angular Routing practice  -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Routing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-link-active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-link-active" routerLink="/age-calculator">Age Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-link-active" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-link-active" routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="app-body">
  <h1>Welcome To {{title}}</h1>
  <!-- This is string interpolation -->
  <h1>Hello {{firstName}} {{lastName}}</h1>

  <!-- This is example of property and event binding -->
  <div>
    <p>Sample of property and event binding</p>
    <!-- property binding  -->
    <input type="checkbox" [checked]="isFullStackDeveloper" /> Full Stack Developer 
    <br/>
    <br/>
    <!-- event binding  -->
    <button (click)="toggleCheckBox()">Toggle Checkbox</button>
  </div>

  <!-- This is example of two way data binding -->
  <div>
    <p>Sample of two way data binding</p>
    <!-- two way data binding  -->
    <input type="text" [(ngModel)]="address"/>
    <p>{{address}}</p>
  </div>

  <!-- directives practice -->
  <div>
    <ul [ngStyle]="{textAlign: 'left', listStyle: 'none',}">
      <li *ngFor="let language of languages; let i=index;">{{i+1}}. {{language}}</li>
    </ul>
    <p *ngIf="isFullStackDeveloper; else notFoundDeveloper">
      <strong [ngClass]="{isActive: isFullStackDeveloper}">Developer name is {{firstName}} {{lastName}}</strong>
    </p>

    <ng-template #notFoundDeveloper>Developer Not Found.</ng-template>
  </div>
</div>

<!-- Angular forms practice  -->
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3 class="text-center">Login</h3>
    <form class="mt-4 mb-4" #loginInfo="ngForm" (ngSubmit)="loginFormSubmit(loginInfo)">
      <div class="form-group mt-2">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="userInfo.username" name="username" class="form-control" id="username" placeholder="Enter username"/>
      </div>
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="userInfo.password" name="password" class="form-control" id="password" placeholder="password"/>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Login</button>
    </form>
  </div>
</div>