<div class="app-body">
  <h1>Welcome To {{title}}</h1>
  <!-- This is string interpolation -->
  <h1>Hello {{firstName}} {{lastName}}</h1>

  <!-- This is example of property and event binding -->
  <div>
    <p>Sample of property and event binding</p>
    <!-- property binding  -->
    <input type="checkbox" [checked]="isFullStackDeveloper" /> Full Stack Developer 
    <br/>
    <br/>
    <!-- event binding  -->
    <button (click)="toggleCheckBox()">Toggle Checkbox</button>
  </div>

  <!-- This is example of two way data binding -->
  <div>
    <p>Sample of two way data binding</p>
    <!-- two way data binding  -->
    <input type="text" [(ngModel)]="address"/>
    <p>{{address}}</p>
  </div>

  <!-- directives practice -->
  <div>
    <ul [ngStyle]="{textAlign: 'left', listStyle: 'none',}">
      <li *ngFor="let language of languages; let i=index;">{{i+1}}. {{language}}</li>
    </ul>
    <p *ngIf="isFullStackDeveloper; else notFoundDeveloper">
      <strong [ngClass]="{isActive: isFullStackDeveloper}">Developer name is {{firstName}} {{lastName}}</strong>
    </p>

    <ng-template #notFoundDeveloper>Developer Not Found.</ng-template>
  </div>
</div>