<div class="app-body">
  <h1>Welcome To {{title}}</h1>
  <!-- This is string interpolation -->
  <h1>Hello {{firstName}} {{lastName}}</h1>

  <!-- This is example of property and event binding -->
  <div>
    <p>Sample of property and event binding</p>
    <!-- property binding  -->
    <input type="checkbox" [checked]="isFullStackDeveloper" /> Full Stack Developer 
    <br/>
    <br/>
    <!-- event binding  -->
    <button (click)="toggleCheckBox()">Toggle Checkbox</button>
  </div>

  <!-- This is example of two way data binding -->
  <div>
    <p>Sample of two way data binding</p>
    <!-- two way data binding  -->
    <input type="text" [(ngModel)]="address"/>
    <p>{{address}}</p>
  </div>
</div>